* {
    margin: 0;
    padding: 0;
    box-sizing: border-box:
}

.box {
    width: 100%;
    height: 100%;
}

ul {
    text-align: justify;
    list-style: inside;
}

.clasesGrilla {
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
}
